.DS_Store
.virtualenv
*.tex
*.aux
*.log
*.out
*.synctex.gz
.ipynb_checkpoints/
methods.docx
methods.html
nuisance_failure*.docx
nuisance_failure*.html
nuisance_failure_*.pdf
.*.swp
*.*\~
.Rproj.user
.RData
.Rhistory
ipynb_drop_output.py
poster-snl2016.nav
poster-snl2016.pdf
poster-snl2016.snm
poster-snl2016.toc
